body {
    margin: 0;
}
header {
    height: 50px;
    width: 100%;
    /* min-width: 600px; */
    background-color: #2d2d2d;
    display: flex;
    align-items: center;
    border-bottom: 4px solid #79a5d1;
}

.logo-box {
    margin-left: 10px;
    cursor: pointer;
}

.menu-nav li {
    list-style-type: none;
    cursor: pointer;
    float: left;
    margin-bottom: 15px;
}

.menu-nav li a {
    width: 60px;
    padding: 12px 5px;
    margin-right: 5px;
    color: #fff;
    text-decoration: none;
}

.menu-nav li:hover a {
    background-color: #79a5d1;
    color: #2d2d2d;
}

.menu-nav li .selected {
    background-color: #79a5d1;
    color: #2d2d2d;
}

.authentication-box {
    flex-grow: 1;
    text-align: end;
    margin-right: 10px;
}

.authentication-box .auth-options a {
    text-decoration: none;
    color: #fff;
}

.authentication-box .auth-options a:last-child {
    border-radius: 20px;
    background-color: #ba3535;
    border: thin solid #ba3535;
    padding: 10px;
    margin-left: 10px;
}

.toggle-options {
    display: none;
    width: 50px;
    height: 40px;
    background-color: #8f9091;
    border-radius: 10px;
    text-align: end;
}

@media(max-width: 660px) {
    .auth-options {
        display: none;
    }
    .toggle-options {
        display: block;
    }
}